<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="SetupExe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><applicationSettings>
        <SetupExe.Properties.Settings>
            <setting name="LogfilePath" serializeAs="String">
                <value>%SYSTEMROOT%\debug\deliveries_setupEXE_tasks\</value>
            </setting>
            <setting name="LogfileName" serializeAs="String">
                <value>[ProductCode].log</value>
            </setting>
            <setting name="ExeLogfilePath" serializeAs="String">
                <value>%SYSTEMROOT%\debug\MSIPackages\</value>
            </setting>
            <setting name="ExeLogfileName" serializeAs="String">
                <value>[ProductCode].log</value>
            </setting>
            <setting name="ExceptionLogfilePath" serializeAs="String">
                <value>%SYSTEMROOT%\debug\Deliveries_setupEXE\</value>
            </setting>
            <setting name="ExceptionlLogfileName" serializeAs="String">
                <value>[Year]_[MM]_APPL_Exceptions.log</value>
            </setting>
            <setting name="GeneralLogfilePath" serializeAs="String">
                <value>%SYSTEMROOT%\debug\Deliveries_setupEXE\</value>
            </setting>
            <setting name="GeneralLogfileName" serializeAs="String">
                <value>[Year]_[MM]_APPL_Starts.log</value>
            </setting>
            <setting name="ExeLogFileSplit" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="LogfileSplit" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="ActiveSetupLanguage" serializeAs="String">
                <value>vbscript</value>
            </setting>
        </SetupExe.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
</configuration>
